body {
    font-family: Arial, sans-serif;
    background-color:  rgba(20, 94, 140, 0.5);
    margin: 0;
    background-image: linear-gradient(135deg , rgb(255, 255, 255) 70%, #000000 30%);
}

.container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex; /* Torna o contêiner flexível */
    flex-direction: column; /* Define o eixo principal como vertical */
    justify-content: center; /* Centraliza verticalmente */
    align-items: center; /* Centraliza horizontalmente */
    height: 100vh; /* Adiciona altura total da viewport */
}

.form {
    background-color:  rgba(0, 0, 0, 0.993);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px c4ff0d(0, 0, 0, 0.1);
    width: 100%; /* Garante que o formulário preencha todo o contêiner */
    max-width: 300px; /* Define a largura máxima do formulário */
}

.form h2 {
    margin-bottom: 20px;
    text-align: center;
    color:#c4ff0d;
}

input[type="email"],
input[type="password"],
button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    
}

button {
    background-color: #ffffff48;
    color: #000000;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #c4ff0d;
    color:#000000;
}



.offer {
    text-align: center;
    color: #ffffff;
}

.offer a {
    color: #c4ff0d;
    text-decoration: none;
}
 a:hover{
    color: #4b0404;
    text-decoration: none;
}


